html {
  -webkit-text-size-adjust: none;
}
body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, table, th, td, form, fieldset, legend, textarea, input, select, textarea, button, figure, figcaption {
  margin: 0;
  padding: 0;
  font-family:$font-suit;
  color:$c-dark;
  -webkit-text-size-adjust:none;
}
html,body {
  height: 100%;
}
table{
  border-collapse:collapse;
}
img, form, fieldset, svg {
  border: 0;
  vertical-align: top;
}
input, button, select {
  border-radius: 0;
  appearance: none;
}
button {
  border: 0;
  background: none;
  cursor: pointer;
  &:disabled {
      cursor: default;
  }
  &::-moz-focus-inner {
      padding: 0;
  }
}
ul, ol {
  list-style: none;
}
a {
  color:$c-dark;
  text-decoration: none;
}
a:focus{
  outline: 1px dotted;
  outline: -webkit-focus-ring-color auto;
}
img {
  width: 100%;
}
.ico {
  display:inline-block;
  &-mark {
    display:inline-block;
    padding:3px 5px;
    border-radius:3px;
    font-weight:550;
    text-shadow:0px 1px 2px rgba(0,0,0,1);
    color:#fff;
  }
  &-html{
    background:#e9622a;
  }
  &-css{
    background:#30ace0;
  }
  &-js{
    background:#f8e01f;
  }
  &-guide {
    background: $c-point1;
  }
  &-vue {
    background: #00bb7c;
  }
}

.cm {
  &-mark{
    position:relative;
    padding-left:12px;
    &::before, &::after {
      position:absolute;
      top:50%;
      left:0;
      width:8px;
      height:2px;
      border-radius:2px;
      content:""
    }
    &::before {
      background: $c-point2;
      transform: rotate(90deg);
    }
    &::after {
      background: $c-point1;
      transform:translateY(-50%);
    }
  }
  &-list {
    padding-bottom:50px; 
    &-item {
      &:first-child {
        border-top: 2px solid $c-dark;
      }
      &:last-child {
        border-bottom: 1px solid $c-sub2;
      }
      &:nth-child(odd){
        background:$c-white;
      }
      &:nth-child(even){
        background:#f8f8f8;
      }
    }
    &-cont {
      overflow:hidden;
      position:relative;
      padding:8px 10px;
      box-sizing:border-box;
      &::after {
        display:block;
        position:absolute;
        top:0;
        left:-5px;
        width:5px;
        height:100%;
        background:$c-point2;
        border-top-right-radius:5px;
        border-bottom-right-radius:5px;
        transition: $base-transition;
        content:"";  
      }
      &:hover, &:focus {
        &::after{
          left:0;
        }
      }
    }
  }
  &-dash {
    position:relative;
    padding-left: 8px;
    &::after {
      position:absolute;
      top:9px;
      left:0;
      width:5px;
      height:1px;
      background: $c-sub1;
      content:"";
    }
  }
  &-code {
    width:100%; 
    padding:10px; 
    background: $c-dark;
    border-radius:5px;
    box-sizing: border-box;
    code {
      display:block;
      & + code {
        margin-top:5px;
        padding-top:5px;
        border-top: 1px solid $c-sub2;
      }
    }
    span{ 
      display:inline-block;
    }
    .component {
      color: $c-point4;
    }
    .data {
      color: $c-point5;
    }
  }
}
.font {
  &-bold {
    font-weight:550;
  }
  &-underline {
    text-decoration:underline;
  }
}
.color {
  &-p1 {
    color: $c-point1;
  }
  &-p2 {
    color: $c-point2;
  }
  &-p3 {
    color: $c-point3;
  }
  &-p4 {
    color: $c-point4;
  }
  &-p5 {
    color: $c-point5;
  }
}
.max-w {
  &-full {
    max-width: $screen-xl;
    margin:0 auto;
  }
  &-center {
    max-width: $screen-m;
    margin:0 auto;
  }
  &-auto {
    max-width: auto;
  }
}
