@import '@/assets/scss/variables.scss';
html {
  -webkit-text-size-adjust: none;
}
body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, table, th, td, form, fieldset, legend, textarea, input, select, textarea, button, figure, figcaption {
  margin: 0;
  padding: 0;
  font-family:$font-suit;
  color:$color-dark;
  -webkit-text-size-adjust:none;
}
html,body {
  height: 100%;
}
table{
  border-collapse:collapse;
}
img, form, fieldset, svg {
  border: 0;
  vertical-align: top;
}
input, button, select {
  border-radius: 0;
  appearance: none;
}
button {
  border: 0;
  outline:0;
  background: none;
  cursor: pointer;
  &:disabled {
      cursor: default;
  }
  &::-moz-focus-inner {
      padding: 0;
  }
}
ul, ol {
  list-style: none;
}
a {
  color:$color-dark;
  text-decoration: none;
}
a:focus{
  outline: 1px dotted;
  outline: -webkit-focus-ring-color auto;
}
img {
  width: 100%;
}
.ico {
  display:inline-block;
  &-mark {
    display:inline-block;
    padding:3px 5px;
    border-radius:3px;
    font-weight:550;
    text-shadow:0px 1px 2px rgba(0,0,0,1);
    color:#fff;
  }
  &-html{
    background:#e9622a;
  }
  &-css{
    background:#30ace0;
  }
  &-js{
    background:#f8e01f;
  }
  &-guide {
    background: $point-color1;
  }
  &-vue {
    background: #00bb7c;
  }
}
.cm {
  &-mark{
    position:relative;
    padding-left:12px;
    &::before, &::after {
      position:absolute;
      top:50%;
      left:0;
      width:8px;
      height:2px;
      border-radius:2px;
      content:""
    }
    &::before {
      background: $point-color2;
      transform: rotate(90deg);
    }
    &::after {
      background: $point-color1;
      transform:translateY(-50%);
    }
  }
}