$base-font-size: 16px;

/*** font ***/
// 참고 url : https://sunn.us/suit/
$font-suit:'SUIT', sans-serif;

/*** color ***/
$point-color1: #3d1797;
$point-color2:#1c7947;
$point-color3:#f24c4c;
$point-color4:#fee500;
$point-color5:#6dcfdc;
$color-dark: #262626;
$color-white: #fff;
$sub-color1: #7f7f7f;
$sub-color2: #b4b4b4;
$sub-dark: #666;

/*** screen size ***/
$screen-s: 768px;
$screen-ms: 1024px; 
$screen-m: 1280px;
$screen-l: 1680px;
$screen-xl: 1920px;

/*** transition ***/
$base-transition: all .3s;

/*** function ***/
@function remove-unit($value) {
  @return calc($value / ($value * 0 + 1));
}

@function rem($px, $base: $base-font-size) {
  @return (remove-unit(calc($px / $base)))* 1rem;
}

/*** mixin ***/
@mixin ellipsis($line, $hiehgt:$base-font-size){
  display: -webkit-box;
  overflow:hidden;
  @if not ($hiehgt == $base-font-size) { /* 기본 사이즈가 아닐 경우 */
    height:$hiehgt*$line;
  }
  -webkit-line-clamp:$line;
  -webkit-box-orient: vertical;
  white-space:normal;
  word-break: break-all;
  text-overflow:ellipsis;
}

@mixin innerOpt() {
  position:relative;
  width:100%;
  max-width: $screen-m;
  margin: 0 auto;
  box-sizing: border-box;
}
